#irc
{
	padding:20px;
	font-size:11px;
	font-family:"Courier";
/*	margin-top:30px;
*/	overflow:none;
}
#irc #irc_window
{
	background-color:#111 !important;
	border:1px solid #444;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	height:95%;
	padding:10px;
	overflow:auto;
	
}
#irc a
{
	color:#4688c2;
}
#irc #irc_textfield
{
	background-color:#111 !important;
	border:1px solid #444;
	width:100%;
	margin-top:10px;
	color:white !important;
}

