#packaging
{
	padding:10px;
	padding-left:40px;
	padding-right:40px;
}

#packaging p
{
	margin-top:0px;
	font-weight:normal;
	font-size:25px;
	margin-bottom:20px;
	color:#999;
}
#packaging .tab
{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	height:25px;
	line-height:25px;
	float:left;
	margin-right:10px;
	width:120px;
	text-align:center;
	cursor:pointer;
	font-size:13px !important;
}
#packaging .tab.active
{
	background-color:#333;
	width:120px;
}
#packaging .option
{
	margin-bottom:10px;
	border:1px solid #3b3b3b;
	width:320px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	position:relative;
	height:80px;
	cursor:pointer;
	
}
#packaging #mobile_help_detail a
{
	color: #6699CC;
}
#packaging .mobile_prereq
{
	margin-top:10px;
	width:460px;
	line-height:22px;
	position:relative;
	height:22px;
	float:none;
	background-color:#252525;
}
#packaging .mobile_prereq .found
{
	position:absolute;
	right:10px;
	color:#2bba2e;
}

#packaging .mobile_prereq a
{
	position:absolute;
	right:5px;
	color:#336699;
	font-size:11px;
	top:-1
}

#packaging .mobile_prereq span
{
	margin-left:5px;
	color:#fff;
	font-size:12px;
}

#packaging .help_text
{
	font-size:13px;
	color:#aaa;
	
}
#packaging .help_header
{
	font-size:18px;
	color:#fff;
	margin-top:10px;
	margin-bottom:5px;
}
#packaging .option .image
{
	position:absolute;
	top:16px;
	left:15px;
}
#packaging .option .text
{
	position:absolute;
	top:15px;
	left:80px;
}
#packaging .option .text .title, .instruction_title
{
	color:#eee;
	font-size:18px;
}
#packaging .option .text .desc, .instruction_text
{
	color:#aaa;
	font-size:13px;
	margin-top:1px;
}

#packaging .active
{
	background-color:#5a5a5a;
	width:355px;
	border:none;
}
#packaging .detail
{
	background-color:#5a5a5a;height:380px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	padding:20px;
	position:relative;
	margin-left:-21px;
	min-width:300px;
}
#packaging #desktop_packaging_options
{
	position:relative;
	height:400px;
}
#packaging .detail_header
{
	color:#929292;
	text-align:center;
	margin-bottom:13px;
	font-size:20px;
}
#packaging .option_header
{
	color:#eee;
	font-size:12px;
	margin-bottom:5px;
	font-weight:bold;
}
#packaging .optiongroup
{
	height:33px;
	line-height:33px;
	background-color:#929292;
	color:white;
	font-size:16px;
/*	border-right:1px solid #474747;
	border-left:1px solid #474747;
*/	text-align:center;
	cursor:pointer;
}
#packaging .active_option
{
	color:white;
	background:#3183c8 url(../../../modules/packaging/images/check_white.png) no-repeat 10px 10px;
}
#packaging .top
{
/*	border-top:1px solid #474747;*/
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}
#packaging .divider
{
	border-bottom:1px solid #7b7b7b;
}
#packaging .bottom
{
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
/*	border-bottom:1px solid #474747;*/
	-webkit-box-shadow:0px 2px 5px #333;
}

#packaging #desktop_packaging_divider
{
	border-bottom:1px solid #7b7b7b;
}

#packaging .debug_console
{
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	background-color:#000;
	font-family:'Courier';
	height:260px;
	color:#00ff00;
	overflow:auto;
	font-size:12px;
	padding:20px;
	min-width:557px !important;
	-webkit-user-select:text;

}
#packaging .mobile_option
{
	background-color:#1c1c1c;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	width:300px;
	text-align:center;
	height:25px;
	line-height:25px;
	position:relative;
	
}

#packaging .mobile_option img
{
	position:absolute;
	top:7px;
	left:10px;
}

.compiler_warning
{
	color:#DAC457;
}

.compiler_noerrors
{
	color:#8A4B63;
}

.log_unhandled_exception, .log_error, .log_fatal, .log_critical
{
	color:#f00;
}

.log_debug
{
	color:#B93473;
}

.log_warn
{
	color:#770;
	font-weight:bold;
}

.log_info
{
	color:#2AAECD;
}

.log_trace
{
	color:#999;
}

.log_verbose
{
	color:#999;
	display:none;
	margin-left:15px;
}

.verbose_logger
{
	color:#2AAECD;
	cursor:pointer;
}

.verbose_logger span
{
	color:#888 !important;
	font-weight:bold;
}


.log_unhandled_exception a
{
	cursor:pointer;
	border-bottom:1px dotted #999;
	text-decoration:none;
}

