#packaging
{
	padding-top:5px;
}

#packaging p
{
	margin-top:0px;
	font-weight:normal;
	font-size:25px;
	margin-bottom:20px;
	color:#999;
}
#packaging .tab
{
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	height:25px;
	line-height:25px;
	float:left;
	margin-right:10px;
	width:90px;
	text-align:center;
	cursor:pointer;
	font-size:13px !important;
}
#packaging .tab.active
{
	background-color:#7e7e7e;
}
#packaging .option
{
	width:135px;
	height:30px;
	background-color:#1e1e1e !important;
	cursor:pointer;
	float:left;
	margin-right:10px;
	text-align:center;
}
#packaging .option.active
{
	background-color:#5A5A5A !important;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
		
}
#packaging .option img
{
	position:relative;
	top:5px;
}
#packaging .option .title
{
	color:#eee;
	font-size:15px;

}

#packaging .debug_console
{
	background-color:#000;
	font-family:'Courier';
	color:#00ff00;
	overflow:auto;
	font-size:12px;
	padding:20px;
	min-width:460px !important;
	-webkit-user-select:text;
	clear:both;

}

#packaging #mobile_help_detail a
{
	color: #6699CC;
}
#packaging .mobile_prereq
{
	margin-top:10px;
	width:460px;
	line-height:22px;
	position:relative;
	height:22px;
	float:none;
	background-color:#252525;
}
#packaging .mobile_prereq .found
{
	position:absolute;
	right:10px;
	color:#2bba2e;
}

#packaging .mobile_prereq a
{
	position:absolute;
	right:5px;
	color:#336699;
	font-size:11px;
	top:-1
}

#packaging .mobile_prereq span
{
	margin-left:5px;
	color:#fff;
	font-size:12px;
}

#packaging .help_text
{
	font-size:13px;
	color:#cacaca;
	
}
#packaging .help_header
{
	font-size:16px;
	color:#fff;
	margin-bottom:5px;
}
/*#packaging .option .image
{
	position:absolute;
	top:16px;
	left:15px;
}*/
/*#packaging .option .text
{
	position:absolute;
	top:15px;
	left:80px;
}
#packaging .option .text .title, .instruction_title
{
	color:#eee;
	font-size:18px;
}
#packaging .option .text .desc, .instruction_text
{
	color:#aaa;
	font-size:13px;
	margin-top:1px;
}*/

/*#packaging .active
{
	background-color:#5a5a5a;
	width:355px;
	border:none;
}
*/
#packaging .detail
{
	clear:both;
	background-color:#5a5a5a;
	padding:20px;
	position:relative;
	min-width:300px;
}
#packaging #mobile_package_detail
{
	padding-top:5px !important;
	
}
#packaging #desktop_packaging_options
{
	position:relative;
}
#packaging .detail_header
{
	color:#fff;
	margin-bottom:13px;
	font-size:20px;
}
#packaging .option_header
{
	color:#eee;
	font-size:12px;
	margin-bottom:5px;
	font-weight:bold;
}
#packaging .optiongroup
{
	height:33px;
	line-height:33px;
	background-color:#929292;
	color:white;
	font-size:16px;
/*	border-right:1px solid #474747;
	border-left:1px solid #474747;
*/	text-align:center;
	cursor:pointer;
	width:115px;
}
#packaging .active_option
{
	color:white;
	background:#3183c8 url(../../../modules/packaging/images/check_white.png) no-repeat 10px 10px;
}
#packaging .top
{
/*	border-top:1px solid #474747;*/
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}
#packaging .divider
{
	border-bottom:1px solid #7b7b7b;
}
#packaging .bottom
{
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
/*	border-bottom:1px solid #474747;*/
	-webkit-box-shadow:0px 2px 5px #333;
}

#packaging #desktop_packaging_divider
{
	border-bottom:1px solid #7b7b7b;
}

#packaging .mobile_option
{
	background-color:#1c1c1c;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	width:300px;
	text-align:center;
	height:25px;
	line-height:25px;
	position:relative;
	
}

#packaging .mobile_option img
{
	position:absolute;
	top:7px;
	left:10px;
}

.compiler_warning
{
	color:#DAC457;
}

.compiler_noerrors
{
	color:#8A4B63;
}

.log_unhandled_exception, .log_error, .log_fatal, .log_critical
{
	color:#f00;
}

.log_debug
{
	color:#B93473;
}
.log_info
{
	color:#74C2E1;
}
.log_warn
{
	color:#770;
	font-weight:bold;
}
#packaging p
{
       margin-top:0px;
       font-weight:normal;
       font-size:16px;
       margin-bottom:20px;
       color:#fff;
}
#no_links_view
{
       text-align:center;
       margin-top:4px;
}

#no_links_view .header
{
       color:#fff;
       font-size:32px;
}
#no_links_view .text
{
	color:#888 !important;
	font-weight:bold;
}


.log_unhandled_exception a
{
	cursor:pointer;
	border-bottom:1px dotted #999;
	text-decoration:none;
}

#packaging .label.android
{
	float:none;
	clear:both;
	margin-bottom:10px;
}

#packaging .row
{
	height:40px;
	font-size:12px;
	color:#333;
	position:relative;
	margin-bottom:5px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	
}
#packaging .row .platform
{
	position:absolute;
	top:10px;
	left:10px;
}
#packaging .row .label
{
	position:absolute;
	top:14px;
	left:50px;
}
#packaging .row .link
{
	position:absolute;
	top:14px;
	right:15px;
	
}
#packaging a
{
	color:#fff;
	font-size:12px;
}
#packaging .even
{
	background-color:#1e1e1e;
	width:510px;
}
#packaging p
{
	margin-top:0px;
	font-weight:normal;
	font-size:16px;
	margin-bottom:20px;
	color:#fff;
}
#packaging .tab_spacing
{
	height:25px;
	display:none;
}
#packaging .tab_divider
{
	border-top:1px solid #414141;border-bottom:1px solid #7e7e7e;margin-left:-20px;margin-right:-20px
}
#no_links_view
{
	text-align:center;
	margin-top:4px;
}

#no_links_view .header
{
	color:#fff;
	font-size:32px;
}
#no_links_view .text
{
	color:#fff;
	font-size:20px;
}
