body
{
	font-family:sans-serif;
	background-color:#fff;
	overflow:hidden;
}
* {
	margin:0;
	padding:0;
}
#left
{
	background-color:#fff;
	float:left;
	width:690px;
	padding:10px;
	margin:auto;
	text-align:center;
	background-repeat:no-repeat;
	background-position:10px 10px;
}
#left h1
{
	margin:0;
	margin-top:10px;
	padding:0;
	font-size:24px;
	color:#222;
}
#video
{
	margin:0;
	padding:0;
	width:640px;
	margin:auto;
	text-align:center;
	margin-left:30px;
	margin-top:25px;
}
#right
{
	background-color:#bababa;
	float:right;
	width:220px;
	height:520px;
	padding:0px;
	margin:auto;
	padding-top:20px;
	border-left:1px solid #bbb;
}
#bottom
{
	border-top:1px solid #999;
	background-color:#c9c9c9;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:40px;
}
#confirm
{
	float:left;
	margin-top:10px;
	margin-left:10px;
	font-size:12px;
	color:#444;
}
#bottom button
{
	float:right;
	margin-top:10px;
	margin-right:20px;
	width:80px;
	padding-top:4px;
	padding-bottom:4px;
}
.entry
{
	font-size:12px;
	color:#666;
	width:220px;
	margin:auto;
	margin-bottom:15px;
	text-align:center;
}
.entry img
{
	margin-bottom:10px;
}
.entry div.info
{
	width:190px;
	margin:auto;
	margin-top:10px;
}
.entry h2
{
	color:#444;
}
.learn
{
	margin:auto;
	margin-top:10px;
	background-image:url(images/tit_learnBUTT.png);
	background-repeat:no-repeat;
	width:100px;
	height:19px;
	cursor:pointer;
}
#left div
{
	margin-top:12px;
	margin-left:25px;
	margin-right:25px;
	margin-bottom:10px;
	text-align:center;
	font-size:17px;
	color:#888;
}
#confirm_check
{
	margin-right:10px;
}
