#edit_project_div 
{
	position:relative;
}
/*#edit_project_open
{
	position:absolute;
	top:10px;
	left:420px;
	cursor:pointer;
}
*/
#project_edit
{
	padding:20px;
	padding-left:40px;
	padding-right:40px;

}
#project_edit p
{
	margin-top:0px;
	font-weight:normal;
	font-size:21px;
	margin-bottom:10px;
	color:#999;
	cursor:pointer;
	margin-left:-15px;
}
